<!DOCTYPE html>
<html>
<head>
  <title>Поиск картинки</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="modal-dialog" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Поиск картинки</h4>
    </div>
    <div class="modal-body">
      <%= render 'modal_content', modal: true %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
  </div>
</div>
</body>
</html>
