<div class="modal-dialog" role="dialog">
  <div class="modal-content">
    <div class="modal-body">
      <%= render 'flickr/modal_content', modal: true %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default flickr-confirm-button">Выбрать</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
  </div>
</div>
