<div class = 'flickr-search-results'>
  <% if @photos %>
    <% @photos.each do |p| %>
      <%= image_tag(p.url(:square), class: 'flickr_photo') %>
    <% end %>
  <% else %>
    <%= 'Поиск не дал результатов :(' %>
  <% end %>
</div>
