<%= simple_form_for :flickr, url: 'find', remote: true do |f| %>
  <div class="form-horizontal form-group-lg control-label">
    <%= f.input '', as: :text  %>
  </div>

  <%= f.button :submit, 'Найти', class: 'btn btn-default' %>
<% end %>

<div class="flickr">
  <% if @photos %>
    <%= render 'search_results' %>
  <% end %>
</div>
